@model IEnumerable<BookWebApplication.Models.BookModel>

@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchResults</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td> 
        <td>
            @Html.ActionLink("Details", "Details", "Home", new { BookID = item.ID }, null) |
            @Html.ActionLink("Demand", "Demand", new { ID = item.ID, Username = Request.Cookies["username"].Value })
        </td>
            </tr>
}

</table>
